body {
    background: rgb(119, 119, 187);
    background-image: linear-gradient(to bottom right, rgba(165, 165, 202, 0.911), rgba(60, 7, 65, 0.418), rgb(48, 24, 87),rgb(165, 165, 202));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

h1 {
    font-size: 60px;
    padding: 1px;
    text-align: left;
    letter-spacing: 0.3em;
    text-transform: capitalize;
    margin-left: 0px;
    margin-right: auto;
    width: max-content;
}

hr {
    color:rgb(223, 202, 145);
    display: block;
}

div.text {
    font-size: 28px;
    letter-spacing: 0.1em;
}

h2 {
    letter-spacing: 0.1em;
}

ul.text {
    font-size: medium
}

span {
    content: "\00B7";
    color: rgb(88, 88, 136);
  }

img {
    width: 400px;
    height: 600px;
    border: rgb(223, 202, 145);
    border-width: 60px;
    border-style: double;
    opacity: 1;
}

footer {
    text-align: right;
    font-size: 22px;
}